<div class="background">
    <div style="height: 20vh;"></div>
        <div class="page-header header-filter" style="background-image: url('assets/img/conPics/con10.jpg'); height: 50vh;">
            <div class="container">
                <div class="row">
                    <!-- <div class="col-md-8 ml-auto mr-auto text-center">
                    </div> -->
                </div>
            </div>
          </div>
          <div class="main main-raised" style="margin-bottom: 0px;">
                  <div class="container">
                    <br>
                    <br>
                      <h2 class="title">About Us</h2>
                      <p class="description">Con Artist is an art collective, community, workspace & gallery. Our shared venue and studio hosts events, collaborative exhibitions, group projects, life drawing, and more! We are a platform for artists to network, gain exposure, and share skills and knowledge with one another. Joining the Con Artist Collective means becoming part of an active community of over 500 creatives from all walks of life, and all over the world.
                          <br>
                      </p>
                      <div class="row">
                        
                          <div class="col-md-4 ml-auto">
                              <div class="info info-horizontal">
                                  <div class="icon icon-primary">
                                      <i class="material-icons">pin_drop</i>
                                  </div>
                                  <div class="description">
                                      <h4 class="info-title">Contacts</h4>
                                      <p> <b>General Inquiry:</b> info@conartistcollective.com,
                                          <br> <b>Marketing Inquiry:</b> conartistnyc@gmail.com,
                                          <br> <b>Schedule Tour:</b> conartistmembership@gmail.com
                                          <br> 
                                      </p>
                                  </div>
                              </div>
                              <div class="info info-horizontal">
                                  <div class="icon icon-primary">
                                      <i class="material-icons">phone</i>
                                  </div>
                                  <div class="description">
                                      <h4 class="info-title">Give us a ring</h4>
                                      <p> <b>Phone:</b> 646.504.2323
                                          <br> <b>Gallery Hours:</b> Monday - Saturday 11am to 7pm 
                                          <br>*Open until 11pm every Wednesday for opening/closing parties.
                                      </p>
                                  </div>
                              </div>
                              <div class="info info-horizontal" style="margin-bottom: 30px;">
                                  <div class="icon icon-primary">
                                      <i class="material-icons">pin_drop</i>
                                  </div>
                                  <div class="description">
                                      <h4 class="info-title">Where are you located?</h4>
                                      <p> 119 Ludlow street between Rivington St. and Delancey St. The closest trains are the F M J & Z trains at Delancey/Essex St. station
                                      </p>
                                  </div>
                              </div>
                          </div>
          
                          <div class="col-md-6 ml-auto">
                              <h4 class="info-title" style="margin-top: 60px;">Why join our art collective?</h4>
                              <br>
                              <p class="description"> <b>Membership</b> 
                                <br>
                                <br>
                                Many members join the collective to be a part of an active community of creatives that curate exhibitions, put on regular member social events, frequently collaborate and so much more.
                                <br>
                                <br>
                                <br>
                                <b>Workspace Access</b> 
                                <br>
                                <br>
                                One of the main reasons members join is to gain access to our creative workspace. Our space is currently equipped with various tools such as a 4-color silk-screen press, light-table, a power washer, a drop sink, communal supplies, computers, hardware, software and access to photo studios.
                                <br>
                                <br>
                                On top of this, members have the opportunity to sell their work through our website, in our gallery shows, in our storefront and also the various flea-market stands and international art fairs like Art Basel Miami, that we participate in.
                              </p>
                              
                          </div>
          
                      </div>
                  </div>
        </div>
        <div style="height: 30px;"></div>
</div>


