<footer class="footer">
    <div class="container">
        <nav class="pull-left">
            <ul>
                <li>
                    <a routerLink="/about">
                        About Us
                    </a>
                </li>
                <li>
                    <a routerLink="/events">
                        Events
                    </a>
                </li>
                <li>
                    <a routerLink="/artists">
                        Artists
                    </a>
                </li>
            </ul>
        </nav>

        <div class="copyright pull-right">
             Con Artist Collective <i class="material-icons">favorite</i>
        </div>
    </div>
</footer>
