.navbar {
    color: black;
    font-size: 30px !important;;
    font-weight: 900 !important;
}

.white-text {
    color: white;
}

.white-background {
    background-color: white;
}

nav {
    font-size: 30px !important;;
    font-weight: 900 !important;
}