<div class="pricing-1 section-image" style="background-image: url('../assets/img/conPics/con11.jpg')" id="pricing-1">
  <div class="container">
      <div class="row">
          <div class="col-md-6 ml-auto mr-auto text-center">
              <h2 class="title">Join The Collective</h2>
              <h5 class="description">You have Free Unlimited Updates and Premium Support on each package.</h5>
              <div class="section-space"></div>
          </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="card card-pricing card-plain">
                <div class="card-body ">
                    <h6 class="card-category">Residency</h6>
                    <div class="icon">
                        <i class="material-icons">account_balance</i>
                    </div>
                    <h3 class="card-title">$0</h3>
                    <p class="card-description">
                        This is good if your company size is 99+ persons.
                    </p>
                    <a href="#pablo" class="btn btn-white btn-round">Apply</a>
                </div>
            </div>
        </div>
          <div class="col-lg-3 col-md-6">
              <div class="card card-pricing card-plain">
                  <div class="card-body ">
                      <h6 class="card-category">Social Artist</h6>
                      <div class="icon">
                          <i class="material-icons">weekend</i>
                      </div>
                      <h3 class="card-title">$50</h3>
                      <p class="card-description">
                          Members enjoy unlimited access to workshops, submissions to group shows, Sunday studio access, and oppotunity to network with 8-years.
                      </p>
                      <!-- <button (click)="onPurchaseSocial()" class="btn btn-rose btn-round">Purchase</button> -->
                      <button routerLink="/plan" class="btn btn-rose btn-round">Purchase</button>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <!-- <div class="card card-pricing card-raised"> -->
                <div class="card card-pricing card-plain">
                  <div class="card-body ">
                      <h6 class="card-category">Emerging Artist</h6>
                      <div class="icon icon-rose">
                          <i class="material-icons">home</i>
                      </div>
                      <h3 class="card-title">$250</h3>
                      <p class="card-description">
                          Evenings & weekends (weekdays ater 7pm/weekends all day ).
                      </p>
                      <button (click)="onPurchaseEmerging()" class="btn btn-rose btn-round">Purchase</button>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <div class="card card-pricing card-plain">
                  <div class="card-body ">
                      <h6 class="card-category">Working Artists</h6>
                      <div class="icon">
                          <i class="material-icons">business</i>
                      </div>
                      <h3 class="card-title">$400</h3>
                      <p class="card-description">
                          Members enjoy unlimited 24 hour access to the Collective.
                      </p>
                      <button (click)="onPurchaseWorking()" class="btn btn-rose btn-round">Purchase</button>
                  </div>
              </div>
          </div>

      </div>
  </div>
</div>

